<div class="row row m-t-10 m-b-10">
  <h3 class="m-l-15 m-b-5"> Folders </h3>

  <%if directory.directoriable_type == 'Directory'%>
    <div class="col-md-3">
      <%= link_to directory_path(directory.directoriable), remote: true,class:"common-link" do%>
        <i class="fa fa-folder"> </i> ...
      <% end %>
    </div>
  <%end%>
  <% directory.directories.each do |dir| %>
    <div class="col-md-3">
      <%= link_to directory_path(dir), remote: true,class:"common-link"  do%>
        <i class="fa fa-folder"> </i> <%= dir.name %>
      <% end %>
    </div>
  <% end %>
  <div class="col-md-3" id='new-directory'>
    <%= link_to new_directory_path(directoriable_type: directory.class.name, directoriable_id: directory.id), remote: true,class:"common-link" do %>
      <i class="fa fa-folder"> </i> + Add Folder
    <% end %>
  </div>
  <div id='new_dir_field' class="hidden">

  </div>
</div>
<script>
  $(document).ready(function(){

  });
</script>
