<div class="nested-fields">
  <div class="col-md-3">
    <label for="Attribute" class="mb10">Attribute</label>
    <%= f.select :attribute_option_id, options_for_select(AttributeOption.pluck(:option_name, :id), selected: f.object.try(:attribute_option_id)), {}, class: 'form-control' %>
  </div>
  <div class="col-md-9">
    <label for="Options" class="mb10">Options</label>
    <div class="d-flex flex-align-center">
      <div class="form-group w-95">
      <%= f.hidden_field :id, value: f.object.id  %>
      <%= f.text_field :options, placeholder: 'Options', value: f.object.try(:options_string), class: 'form-control tagableinput', data: {role:'tagsinput'}  %>
      </div>
      <%= link_to_remove_association f do %>
        <div class=" inv-delete">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>