<div class="dynmic-tab-div directory-structure">
  <div class="row">
    <div class="col-sm-12">
      <div class="dynmic-tab-div-header">
        <span class="heading"><%= @from_page == 'index' ? "Invoice" : '' %></span>
        <div class="pull-right">


          <%= link_to new_invoice_path( client_id: object.id ), class: "site-content-head-btn" do %>
            + Add Invoice
          <%end%>
        </div>
      </div>
      <div class="dynmic-tab-div-data ">
        <div class="row">
          <div class="col-sm-12">
            <div class="site-content-data">
              <div id="ticket-list" class="table-list">
                <%= render partial: "invoices/invoice_list", locals: {invoices: object.invoices}%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".dropdown-toggle").dropdown();
  });
</script>
