<h1> hello </h1><br>
<h1> <%= @invoice.email %> </h1>
<table>
  <tr>
    <td>invantory</td>
    <td>Tax</td>
  </tr>
  <tr>
    <td>Product1<td>
    <td>0.02</td>
  </tr>
  <tr>
    <td>Product1<td>
    <td>0.02</td>
  </tr>
</table>