<div class="site-main">
<%= render 'layouts/sidebar'%>
<div class="site-content">

      <div class="site-content-head">
      <div class="row">
        <div class="col-sm-12">
          <div class="l-menu">
            <span class="main-menu-sitecontent">dashboard</span>
             <span class="sub-menu-sitecontent m-x-10"> <i class="fa fa-angle-right"></i> Project Communication Dashboard</span>
          <span class="sub-menu-sitecontent"> </span>
          </div>
          <div class="pull-right">
            <a class="site-content-head-btn" data-remote="true" href="">+Add Customer</a>
             <a class="site-content-head-btn" data-remote="true" href="">Import Customer</a>   
            <a class="site-content-head-btn" href="">Filter</a>         
            <a href="javascript:void(0)" class="dropdown-toggle site-content-head-btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="nav-cell blue-font"> Action
            <span class="caret"></span>
            </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" data-remote="true" href="">Edit Column</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Edit Properties</a>
              </li>
            </ul>
            <!-- <a href="" class="site-content-head-btn">Actions</a> -->
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-lg-8 col-md-12">
      <div class="dynmic-tab-div">
        <div class="row">
          <div class="col-sm-12">
            <div class="dynmic-tab-div-header mb0">
              <span class="heading"> Seo Naps </span>
            </div>
          </div>
        </div>
        <div class="cmn-tab-div">
          <div class="row">
            <div class="col-sm-12">
              <div class="dynmic-tab-div-header dynmic-tab-sub-header">
                <div class="d-flex">
                  <div class="heading-wrapper">
                <p class="heading">Project Communication Dashboard</p>
              </div>
                <div class="new-msg-div">
                  <span>New Message</span>
                </div>
              </div>
            </div>
              <div class="cmn-tab-div cmn-tab-div1">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="table-responsive">
                    <table width="100%" class="sub-table">
                      <tr>
                        <td><a href="" class="msg-btn">Message</a></td>
                          <td><span class="ml15"><i class="fa fa-paperclip" aria-hidden="true"></i> Message abcd xyz - <span class="inprogress-text">Inprogress</span></span>
                        </td>
                        <td class="text-right">
                          <span class="posted-by">Posted by</span>
                          <span class="posted-by-name">Rohan P.</span>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="" class="msg-btn">Message</a></td>
                          <td><span class="ml15"><i class="fa fa-paperclip" aria-hidden="true"></i> Message abcd xyz - <span class="Todo-text">Todo</span></span>
                        </td>
                        <td class="text-right">
                          <span class="posted-by">Posted by</span>
                          <span class="posted-by-name">Rohan P.</span>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="" class="msg-btn">Message</a></td>
                        <td><span class="ml15"><i class="fa fa-paperclip" aria-hidden="true"></i> Message abcd xyz - <span class="Todo-text">Todo</span></span>
                        </td>
                        <td class="text-right">
                          <span class="posted-by">Posted by</span>
                          <span class="posted-by-name">Rohan P.</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dynmic-tab-div">
      
        <div class="cmn-tab-div">
          <div class="row">
            <div class="col-sm-12">
              <div class="dynmic-tab-div-header dynmic-tab-sub-header">
                <div class="d-flex">
                  <div class="heading-wrapper">
                <p class="heading">New Project - James Lee</p>
              </div>
                <div class="new-msg-div">
                  <span>New Message</span>
                </div>
              </div>
            </div>
              <div class="cmn-tab-div cmn-tab-div1">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="table-responsive">
                    <table width="100%" class="sub-table">
                      <tr>
                        <td><a href="" class="msg-btn">Message</a></td>
                          <td><span class="ml15"><i class="fa fa-paperclip" aria-hidden="true"></i> <span class="blue-font">Re: fewrwer -</span> <span class="inprogress-text">Inprogress</span></span>
                        </td>
                        <td class="text-right">
                          <span class="posted-by">Posted by</span>
                          <span class="posted-by-name">Rohan P.</span>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="" class="msg-btn">Message</a></td>
                          <td><span class="ml15"><i class="fa fa-paperclip" aria-hidden="true"></i> <span class="blue-font">Re: fewrwer -</span> <span class="Todo-text">Todo</span></span>
                        </td>
                        <td class="text-right">
                          <span class="posted-by">Posted by</span>
                          <span class="posted-by-name">Rohan P.</span>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="" class="msg-btn">Message</a></td>
                          <td><span class="ml15"><i class="fa fa-paperclip" aria-hidden="true"></i> <span class="blue-font">Re: fewrwer -</span><span class="Todo-text">Todo</span></span>
                        </td>
                        <td class="text-right">
                          <span class="posted-by">Posted by</span>
                          <span class="posted-by-name">Rohan P.</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-12">
      
        <div class="dynmic-tab-div">
        <div class="row">
          <div class="col-sm-12">
            <div class="dynmic-tab-div-header mb0">
              <span class="heading"> Quick Action </span>
          </div>
          </div>
        </div>
        <div class="cmn-tab-div">
          <div class="row">
            <div class="col-sm-12 text-center">
               <a href="" class="cr-project ">Create Project</a>
               <p class="mt15 new-project-text">Start new project here by clicing Create Project</p>
      </div>
    </div>
    </div>
  </div>
   <div class="dynmic-tab-div">
        <div class="row">
          <div class="col-sm-12">
            <div class="dynmic-tab-div-header mb0">
              <span class="heading"> My Projects </span>
          </div>
          </div>
        </div>
        <div class="cmn-tab-div cmn-tab-div1">
          <div class="row">
            <div class="col-sm-12 text-center pl15 pr15">
                        <table width="100%" class="sub-table sub-table-myproject">
                      <tr>
                        <td width="100%">
                          <p>The collection Law Firm - Rohan Patange</p>
                          <div class="d-flex flex-align-center">
                            <div class="small-circle"></div>
                            <span class="blue-font fs-17 ml10"><b>SEO NAPS</b></span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                         <td>
                          <p>ABX LLC - James Lee</p>
                          <div class="d-flex flex-align-center">
                            <div class="small-circle"></div>
                            <span class="blue-font fs-17 ml10"><b>New Project</b></span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                          <td>
                          <p>The collection Law Firm - Rohan Patange</p>
                          <div class="d-flex flex-align-center">
                            <div class="small-circle"></div>
                            <span class="blue-font fs-17 ml10"><b>SEO NAPS</b></span>
                          </div>
                        </td>
                       
                      </tr>
               
                    </table>
      </div>
    </div>
    </div>
  </div>
</div>
