<div class="site-main">
  <%= render 'layouts/sidebar'%>
  <div class="site-content">
    <div class="dynmic-tab-div">
      <div class="row">
        <div class="col-sm-12">
          <div class="dynmic-tab-div-header">
            <span class="heading">Lead Companies</span>
          </div>
          <div class="dynmic-tab-div-data">
            <div class="row">
              <div class="col-sm-12">
                <%if @leads.present?%>
                  <div class="table-responsive">
                    <table class="common-data-table" >


                      <thead>
                        <tr>
                          <% @lead_fields.each do |field| %>
                            <td> <%= field.label%></td>
                          <%end%>
                        </tr>
                      </thead>
                      <tbody>
                        <% @leads.each do |lead| %>
                          <tr>
                            <% @lead_fields.each do |field| %>
                              <td> <%= lead.send(field.name)%></td>
                            <%end%>
                          </tr>
                        <%end%>
                      </tbody>
                    </table>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="dynmic-tab-div">
      <div class="row">
        <div class="col-sm-12">
          <div class="dynmic-tab-div-header">
            <span class="heading">Lead Contacts</span>
          </div>
          <div class="dynmic-tab-div-data">
            <div class="row">
              <div class="col-sm-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="dynmic-tab-div">
      <div class="row">
        <div class="col-sm-12">
          <div class="dynmic-tab-div-header">
            <span class="heading">Client Companies</span>
          </div>
          <div class="dynmic-tab-div-data">
            <div class="row">
              <div class="col-sm-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="dynmic-tab-div">
      <div class="row">
        <div class="col-sm-12">
          <div class="dynmic-tab-div-header">
            <span class="heading">Client Contacts</span>
          </div>
          <div class="dynmic-tab-div-data">
            <div class="row">
              <div class="col-sm-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="dynmic-tab-div">
      <div class="row">
        <div class="col-sm-12">
          <div class="dynmic-tab-div-header">
            <span class="heading">Projects</span>
          </div>
          <div class="dynmic-tab-div-data">
            <div class="row">
              <div class="col-sm-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="dynmic-tab-div">
      <div class="row">
        <div class="col-sm-12">
          <div class="dynmic-tab-div-header">
            <span class="heading">Tickets</span>
          </div>
          <div class="dynmic-tab-div-data">
            <div class="row">
              <div class="col-sm-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="dynmic-tab-div">
      <div class="row">
        <div class="col-sm-12">
          <div class="dynmic-tab-div-header">
            <span class="heading">Tasks</span>
          </div>
          <div class="dynmic-tab-div-data">
            <div class="row">
              <div class="col-sm-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="dynmic-tab-div">
      <div class="row">
        <div class="col-sm-12">
          <div class="dynmic-tab-div-header">
            <span class="heading">Notes</span>
          </div>
          <div class="dynmic-tab-div-data">
            <div class="row">
              <div class="col-sm-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dynmic-tab-div">
      <div class="row">
        <div class="col-sm-12">
          <div class="dynmic-tab-div-header">
            <span class="heading">Invoices</span>
          </div>
          <div class="dynmic-tab-div-data">
            <div class="row">
              <div class="col-sm-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dynmic-tab-div">
      <div class="row">
        <div class="col-sm-12">
          <div class="dynmic-tab-div-header">
            <span class="heading">Users</span>
          </div>
          <div class="dynmic-tab-div-data">
            <div class="row">
              <div class="col-sm-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
