<div class="dynmic-tab-div mt-10">
  <div class="row">
    <div class="col-sm-12">
      <div class="dynmic-tab-div-header contracts-header">
        <span class="heading">List of Contracts</span>
        <div class="pull-right search-wrapper">
          <div class="input-group serch-input">
            <div class="input-group-addon">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <input autofocus="autofocus" autocomplete="email" class="form-control" placeholder="Search by contract title">
          </div>
          <a href="" class="search-btn">Search</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="site-content-data">
            <div class="table-responsive">
              <table class="common-data-table">
                <thead>
                  <th>
                    <div class="radio-lbl">
                      <label class="check ">
                      <input type="checkbox"  name="remember_me">
                      <span class="checkmark"></span> </label>
                    </div>
                  </th>
                  <th>Action</th>
                  <th>Date</th>
                  <th>Contract No</th>
                  <th>Contract</th>
                  <th>Lead</th>
                  <th>Sign</th>
                  <th>Email</th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="radio-lbl">
                        <label class="check ">
                        <input type="checkbox"  name="remember_me">
                        <span class="checkmark"></span> </label>
                      </div>
                    </td>
                    <td>
                      <div class="btn-wrapper">
                        <button class="eye-btn"><i class="fa fa-eye"></i></button>
                        <div class="action-icon"> <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                        <div class="action-icon"> <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a></div>
                        <div class="action-icon"> <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></div>
                      </div>
                    </td>
                    <td >12-Mar-2019</td>
                    <td >CON1238</td>
                    <td class="blue-font">Lead One</td>
                    <td class="blue-font">clair@gmail.com</td>
                    <td><img src="" ></td>
                    <td>clairtest@gmail.com</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="radio-lbl">
                        <label class="check ">
                        <input type="checkbox"  name="remember_me">
                        <span class="checkmark"></span> </label>
                      </div>
                    </td>
                    <td>
                      <div class="btn-wrapper">
                        <button class="eye-btn"><i class="fa fa-eye"></i></button>
                        <div class="action-icon"> <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                        <div class="action-icon"> <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a></div>
                        <div class="action-icon"> <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></div>
                      </div>
                    </td>
                    <td >12-Mar-2019</td>
                    <td >CON1238</td>
                    <td class="blue-font">Lead One</td>
                    <td class="blue-font">clair@gmail.com</td>
                    <td><img src="" ></td>
                    <td>clairtest@gmail.com</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="radio-lbl">
                        <label class="check ">
                        <input type="checkbox"  name="remember_me">
                        <span class="checkmark"></span> </label>
                      </div>
                    </td>
                    <td>
                      <div class="btn-wrapper">
                        <button class="eye-btn"><i class="fa fa-eye"></i></button>
                        <div class="action-icon"> <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                        <div class="action-icon"> <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a></div>
                        <div class="action-icon"> <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></div>
                      </div>
                    </td>
                    <td >12-Mar-2019</td>
                    <td >CON1238</td>
                    <td class="blue-font">Lead One</td>
                    <td class="blue-font">clair@gmail.com</td>
                    <td><img src="" ></td>
                    <td>clairtest@gmail.com</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="radio-lbl">
                        <label class="check ">
                        <input type="checkbox"  name="remember_me">
                        <span class="checkmark"></span> </label>
                      </div>
                    </td>
                    <td>
                      <div class="btn-wrapper">
                        <button class="eye-btn"><i class="fa fa-eye"></i></button>
                        <div class="action-icon"> <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                        <div class="action-icon"> <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a></div>
                        <div class="action-icon"> <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></div>
                      </div>
                    </td>
                    <td >12-Mar-2019</td>
                    <td >CON1238</td>
                    <td class="blue-font">Lead One</td>
                    <td class="blue-font">clair@gmail.com</td>
                    <td><img src="" ></td>
                    <td>clairtest@gmail.com</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
