
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GEOCODER_API'] %>&callback=initMap" type="text/javascript"></script>
    <!-- Modal content-->


    <div id='address_map'></div>



<script type="text/javascript">
function initMap() {
  // The location of Uluru
  var uluru = {lat: parseFloat(<%= @lat %>), lng: parseFloat(<%= @long %>)};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('address_map'), {zoom: 15, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map,icon: {
      url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png",
      labelOrigin: new google.maps.Point(0, 40),
      size: new google.maps.Size(32,32),
      anchor: new google.maps.Point(16,32)
      },
      label: {
        text: "<%= params[:company_name]%>",
        color: "#C70E20",
        fontWeight: "bold"
      }});
}
</script>
