<div class="modal fade" id="locationModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Location Name</h4>
      </div>
      <div class="modal-body">
        <div class="action-data">
          <div class="location_details">
            <div class="location_name"></div>
          </div>
        </div>
      </div>
      <hr/>
    </div>
  </div>
</div>