<div class="dynmic-tab-div directory-structure">
  <div class="row">
    <div class="col-sm-12">
      <div class="dynmic-tab-div-header">
        <div class="pull-right">
          <% if checked_permission?(current_user, @klass_list['Document'], @action_list['delete'])%>
            <a href="javascript:void(0)" class="site-content-head-btn" id='destroy_all_documents'>
              Delete
            </a>
          <%end%>
          <% if checked_permission?(current_user, @klass_list['Document'], @action_list['create'])%>
            <%= link_to new_document_path(documentable_type: object.class, documentable_id: object.id), remote: true, class: "site-content-head-btn", title: 'Add File' do %>
              + Add Document
            <%end%>
          <%end%>
          <%#= link_to "Customize", actions_settings_path(klass_id: ticket_klass.id, url: tickets_path(ticketable_type: object.class, ticketable_id: object.id)), class: 'site-content-head-btn', remote: true%>
        </div>
      </div>
      <div class="dynmic-tab-div-data ">
        <div class="row">
          <div class="col-sm-12">
            <div class="site-content-data">
              <div id="document-list" class="table-list">
                <%= render partial: "documents/list_document", locals: { object: object }%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
