<%= render 'components/site_content' do %>
  <% content_for :head do %>
    <div class="l-menu">
      <span class="main-menu-sitecontent">
        <%= link_to 'Devices', purchase_order_devices_path, class: 'common-link' %>
      </span>
      <span class="sub-menu-sitecontent m-x-10"><i class="fa fa-angle-right"></i></span>
      <span class="sub-menu-sitecontent">Edit Device</span>
    </div>
  <% end %>
  <% content_for :body do %>
    <%= render 'components/white_body' do %>
      <div class="row">
        <div class="col-sm-12">
          <div class="Inventory-header">
            <h1>Edit Device</h1>
          </div>
        </div>
      </div>
      <div class="row mt20">
        <%= render 'form', device: @device %>
      </div>
    <% end %>
  <% end %>
<% end %>
