<div class="btn-wrapper">
  <div class="action-icon">
    <%= link_to show_path do %>
      <i class="fa fa-eye" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class="action-icon">
    <%= link_to edit_path,remote: true do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class="action-icon">
    <%= link_to show_path, data: { confirm: "Are you sure you want to Delete this?" }, method: :delete, remote: true do %>
      <i class="mr-2">
        <i class="fa fa-trash " aria-hidden="true"></i>
      </i>
    <% end %>
  </div>
</div>
