<%= form_for :employee_feedback, url: feedbacks_path, remote: true, html: { id: "employee_feedback" } do |form| %>
  <div id="feedback_questions_list"></div>
  <%= hidden_field_tag 'employee_country_code', '' %>
  <%= hidden_field_tag 'employee_phone_number', '' %>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
    </div>
    <div class="col-sm-6 col-xs-12 fp-right">
      <%#= link_to "Forgot password?", new_password_path(resource_name), class: 'forgot-link' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 clearfix">
      <%= form.submit "Submit", class: "login-btn" %>
    </div>
  </div>
<% end %>
