/* Place all the styles related to the projects controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: http://sass-lang.com/ */
table#projects{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}
