<tr class="nested-fields">
  <td><%= f.options[:child_index].is_a?(Integer) ? f.options[:child_index] + 1 : '' %></td>
  <td><%= f.text_field :start_datetime, value: pretty_date_time(f.object.start_datetime), required: true, class: 'form-control datetimepicker' %></td>
  <td><%= f.text_field :end_datetime, value: pretty_date_time(f.object.end_datetime), required: true, class: 'form-control datetimepicker' %></td>
  <td>
    <%= link_to_remove_association f, data: { confirm: 'Are you sure you want to delete this break log?' } do %>
      <i class='glyphicon glyphicon-trash'></i>
    <% end %>
  </td>
</tr>
