<div class="site-header">
   <nav class="navbar navbar-default">
      <div class="navbar-header">
         <a class="navbar-brand" href="javascript:void(0);">
           <%= image_tag @company.white_background_image, class: 'small-logo', width: '33px', height: '33px'%>
          <span>
            <%= image_tag @company.big_image, class: 'big-logo' %>
          </span>
         </a>
      </div>
      <div class="navbar-collapsible">
         <div id="navbar" class="navbar-collapse collapse">
            <div class="logo-navbar left-sidebar-toggle pull-left hidden-xs">
              <%= image_tag @company.big_image, class: '' %>
            </div>
            <div class="left-sidebar-toggle pull-right hidden-xs right-header d-flex align-items-center">
              <span>Employee Feedback</span>
            </div>
         </div>
      </div>
   </nav>
</div>
<style>
  .logo-navbar{
    font-size: 24px;
    height: 50px; 
    line-height: 50px; 
    position: relative;
    width: 58px;
    margin-left: 25px;
  }
  .navbar-header .navbar-brand {
    left: 49%;
  }
  .navbar-collapse{
    position: relative;
  }
  .right-header{
    position: absolute;
    right: 1rem;
    top: 0;
    height: 100%
  }
  .navbar-default{
    box-shadow: rgba(0, 0, 0, 0.23) 0 0 5px !important;
  }
</style>
