<div class="site-footer">
  <div class="row bg-white">
    <div class="col-md-12 text-center dark-gray-font">Copyright © 2021 iPos All rights reserved.</div>
  </div>
</div>
<style>
  .bg-white {
    background-color: white;
  }
  @media (min-width: 768px) {
    .layout-left-sidebar-collapsed .site-footer {
      margin-left: 0px;
    }
    .site-footer {
      margin-left: 0px;
    }
  }
  .site-footer {
    position: fixed;
    height: 50px;
    background-color: #8080802b;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    box-shadow: 0px 0 5px rgba(0, 0, 0, 0.23);
    z-index: 99;
  }
</style>