<div class="row" style="position: absolute; bottom: 25px; width: 100%">
  <div class="col-md-6 text-center dark-gray-font">Version 2.1</div>
  <div class="col-md-6 text-center dark-gray-font">Copyright © 2021 iPos All rights reserved.</div>
</div>